.app {
    overflow: hidden;
}

.container-left {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.container-left img {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-left-content {
    position: absolute;
    bottom: 70px;
    right: 30%;
    z-index: 10;
    text-align: center;
    
}

.container-left-heading {
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 100;
    position: relative;
}

.container-left-heading:before {
    content: "";
    position: absolute;
    left: 175px;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: 1px;
    background-color: var(--white-color);
}

.container-left-heading:after {
    content: "";
    position: absolute;
    right: 175px;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: 1px;
    background-color: var(--white-color);
}

.container-left-box a{
    margin-top: 30px;
    color: var(--white-color);
    font-size: 1.3rem;
    display: block;
    padding: 10px 60px;
    background-color: #004bee5e;
    border-radius: 200px;
    font-weight: 200;
}

.container-left-box a:last-child {margin-top: 10px;}

.container-left-box a span {
    font-weight: 800;
}

.container-left-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -300px;
    left: 0;
    right: 0;
    clip-path: circle(85% at 50% 100%);
    background: #021a4e;
    z-index: 1;
    
}

.container-right-box {
    padding: 100px;
}

.container-right-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-right-logo img{
    height: 40px;
}

.container-right-des {
    margin-top: 80px;
}

.container-right-des-heading {
    font-size: 2rem;
    font-weight: 900;
}

.container-right-des-form {
    margin-top: 20px;
}

.container-right-des-form input {
    font-size: 1.5rem;
    width: 100%;
    border: none;
    font-weight: 200;
    background: transparent;
    color: var(--text-color);
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
    outline: none;
    padding-left: 0;
}

.container-right-des-form input:last-child {
    margin-top: 5px;
}

.container-right-des-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.container-right-des-forgot-left { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-right-des-forgot-left span {
    margin-left: 5px;
    font-weight: 200;
    font-size: 1.2rem;
    color: var(--text-color);
}

.container-right-des-forgot-right {
    font-size: 1.2rem;
    color: #004bee5e;
}

.container-right-btn {
    margin-top: 30px;
    text-align: center;
}

.container-right-btn a {
    text-transform: uppercase;
    background-color: #021A4E;
    color: var(--white-color);
    outline: none;
    width: max-content;
    padding: 10px 40px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 20px;
}

.container-right-have {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 15px;
    font-weight: 200;
}

.container-right-have span a {
    text-decoration: underline;
    color: #021A4E;
}

.container-right-sign {
    font-weight: 200;
    font-size: 1.2rem;
    color: var(--text-color);
    margin-top: 50px;
}